.main{
    padding: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.error{
    color: red;
}

.button{
    width : 80px;
    height: 30px;
    background-color: rgb(108, 108, 255);
    color: white;
    border-radius: 8px;
    font-weight: 700;
}